---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I Got 99 Problems is a podcast that investigates billion dollar problems. Our mission is to
			help you discover an interesting problem that you would be personally excited to work on.
		</p>
		<p>
			As a feature, we believe that all problems discussed in our episodes can be solved by a small
			team of talented individuals, with little starting capital, and reach a minimal-viable-product
			within a few months. In other words: great startup potential.
		</p>
		<p>Every episode will focus on 4 things:</p>
		<ul class="list-inside list-disc">
			<li>The importance and scale of the problem</li>
			<li>The context surrounding the problem</li>
			<li>The history of the problem</li>
			<li>Past failures in trying to solve the problem</li>
		</ul>
		<p>Important Note: We focus on the problem, but it is up to you to find a working solution.</p>
		<h1 class="title">Problem Analysis</h1>
		<p>We use the University of Waterloo Problem Lab methodology to analyze each problem.</p>
		<h2 class="title text-lg">Importance and Scale</h2>
		<h2 class="title text-lg">Context</h2>
		<h2 class="title text-lg">History</h2>
		<h2 class="title text-lg">Past Failures</h2>
	</div>
</PageLayout>
