---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Our problem analysis methodology",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I Got 99 Problems is a podcast that investigates billion dollar problems. Our mission is to
			help you discover an interesting problem that you would be personally excited to work on.
		</p>
		<p>
			As a feature, we believe that all problems discussed on our show can be solved by a small team
			of talented individuals, with little starting capital, and reach a minimal-viable-product
			within a few months. In other words: great startup potential.
		</p>
		<p>Every episode will focus on 4 things:</p>
		<ul class="list-inside list-disc">
			<li>The importance and scale of the problem</li>
			<li>The context surrounding the problem</li>
			<li>The history of the problem</li>
			<li>Past failures in trying to solve the problem</li>
		</ul>
		<p>Important Note: We focus on the problem, but it is up to you to find a working solution.</p>
		<h1 class="title">Problem Analysis</h1>
		<p>
			We use the University of Waterloo Problem Lab methodology to analyze each problem. Written
			guides for all problems can be found on
			<span class="cactus-link inline-block">
				<a href="https://www.google.com">Substack</a>
			</span>
			or under the "Episodes" tab on this site.
		</p>
		<h2 class="title text-lg">Importance and Scale</h2>
		<p>The value of a problem comes from its importance and scale.</p>
		<p>
			Importance is a relative measure that considers the seriousness of a problem as compared to
			other problems experienced by the same person or organization. Important problems cause strong
			adverse effects that prevent primary goals from being reached.
		</p>
		<p>Signs of a highly important problem:</p>
		<ul class="list-inside list-disc">
			<li>Repeatedly and frequently encountered</li>
			<li>Invokes a strong sense of urgency to solve it</li>
			<li>Impacts one or multiple important outcomes</li>
			<li>The problem is long-standing</li>
			<li>The problem is mission critical</li>
		</ul>
		<p>
			Scale refers to the number of people who experience the same problem. Both scale and
			importance can change over time so looking at future trends is also necessary to determine the
			value of a problem.
		</p>
		<p>As a question: "Who exactly has the problem and how much does it matter to them?"</p>
		<h2 class="title text-lg">Context</h2>
		<p>
			To analyze the context of a problem we need to understand its causes and effects. Often the
			cause of one problem is an underlying deeper problem, and it is generally better to address
			the root cause. Problems that are systemic in nature cause multiple adverse effects and are
			likely to be important.
		</p>
		<p>
			We also need to explore the circumstances and conditions surrounding a problem. Is the problem
			faciliated by changes in law, technology, or social trends? Deeply understanding a problem is
			generally a necessary step in solving it.
		</p>
		<p>
			As a question: "Where does the problem come from and what would it look like if the problem
			was solved today?"
		</p>
		<h2 class="title text-lg">History</h2>
		<p>
			All problems originated at some point. We need to look towards the past to understand how a
			problem has changed in scale, importance, and context over time. If the problem has only grown
			since its inception, this is a sign that it will be bigger yet in the future.
		</p>
		<p>
			Problems that are long-standing suggest a history of failed attempts in trying to solve it.
		</p>
		<h2 class="title text-lg">Past Failures</h2>
		<p>
			With the exception of brand new problems, there is a list of past failures that we can learn
			from. We need to find out who has tried to solve the problem before and why the problem still
			hasn't been solved.
		</p>
		<p>
			As a question: "What pitfalls and difficulties should I expect when trying to solve the
			problem?"
		</p>
	</div>
</PageLayout>
