---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">A Billion Dollar Problem, Every Episode</h1>
		<p class="mb-4">
			I Got 99 Problems is the podcast for curious and ambitious individuals. Every episode dives
			deeply into a different large-scale problem that could serve as the basis for the next billion
			dollar startup. No time to listen? We also write detailed guides for each problem.
		</p>
		<a href="/igot99problems/about" class="cactus-link inline-block">Find out more</a>
	</section>
	<section>
		<h2 class="title mb-4 mt-12 text-lg">Find Us</h2>
		<SocialList group="full episodes" />
		<SocialList group="community" />
		<SocialList group="contact" />
	</section>
	<section aria-label="Blog post list" class="mt-12">
		<h2 class="title mb-4 text-lg">Recent Episodes</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map(
					(p, index) =>
						index < 10 && (
							<li class="flex flex-col gap-x-2 sm:flex-row">
								<PostPreview post={p} />
							</li>
						),
				)
			}
		</ul>
	</section>
</PageLayout>
